@import "./partials/typography"

$footer-bg-color: #282828

footer
  color: #767676
  background: $footer-bg-color
  padding: 40px 55px
  padding-bottom: 0

  h3
    font-family: $montserrat
    font-size: 12px
    margin-top: 0
    letter-spacing: .075em
    text-transform: uppercase
    color: #7c7c7d
    line-height: 16px
    margin-bottom: 15px
    font-weight: 700

  a:link, a:visited
    font-family: $blink
    font-size: 13px
    letter-spacing: 0
    display: inline-block
    color: #fff
    font-style: inherit
    line-height: 16px
    margin-bottom: 10px
    font-weight: 700

  a:hover
    text-decoration: underline

  ul.footer-widget
    display: flex
    flex-flow: column wrap
    list-style: none
    padding: 0

  .columns:first-child
    margin-top: 100px

    .wpcf7-form

      input
        border-radius: 6px
        border: 0
        padding: 5px 10px
        height: 40px
        margin-bottom: 5px
        width: 100%
        font-size: 14px
        outline: none
        font-weight: 400
        font-size: 14px
        line-height: 23px

        &.wpcf7-email
          border-top-right-radius: 0
          border-bottom-right-radius: 0
          width: 100%

        &.wpcf7-submit
          width: 35%
          border-top-left-radius: 0
          border-bottom-left-radius: 0
          background: #10c3bd
          text-transform: uppercase
          color: white
          line-height: 1em
          font-family: $montserrat
          font-size: 14px
          line-height: 18px
          font-weight: 700
          margin-right: -15px

      .footer-submit-wrapper
        display: flex
        align-items: flex-start
        justify-content: center
        width: 100%

    .column:last-child
      max-width: 500px


  .copyright
    margin-top: 50px
    margin-bottom: 50px!important
    border-top: 1px solid #383838
    padding-top: 20px
    font-size: 13px
    line-height: 16px
    color: #7c7c7d

    ul

      &:not(.social-icons)

        li
          font-size: 13px
          line-height: 16px
          font-weight: 700
          letter-spacing: 0
          display: inline-block
          color: #7c7c7d

          &:not(:last-child):after
            content: "|"
            margin-left: 10px
            margin-right: 10px

      li
        display: inline

      &.social-icons
        text-align: left

        +tablet
          text-align: right

        i.fa
          display: inline-block
          border-radius: 60px
          background: #7c7c7d
          padding: 0.5em 0.6em
          color: $footer-bg-color

          &.fa-facebook
            padding: 0.5em 0.7em