@import "../../node_modules/bulma/sass/utilities/_all"
@import "./utils/variables"
@import "./partials/typography"

body
  font-family: $montserrat

  hr
    background-color: $gris-oscuro
    height: 1px
    margin: 0 auto

  .content-area .container
    max-width: calc(100% - 50px)

    .container
      margin: 0
      max-width: 100%

    +fullhd
      max-width: 1370px

    &.is-fluid
      max-width: 100%
      margin: 0

  main.site-main
    padding: 0
    background: #fff

    section

      &.has-padding
        padding: 50px

      +desktop
        padding: 70px 55px

      &:not(.tile)
        font-family: $opensans
        font-size: 14px
        line-height: 26px
        font-weight: 400
        font-style: inherit
        //margin-bottom: 12px
        letter-spacing: 0
        color: #303030

      .filters-group
        padding: 1.25rem 0.75rem 1.5rem

        .filter-options
          display: flex

      &.contact
        padding: 0

        .column:not(.is-full)
          padding: 15px
          padding-bottom: 150px

          +desktop
            padding: 75px
            max-width: 50%

          &.col1
            padding: 50px

            +tablet
              padding-right: 55px
              padding-bottom: 0

            +desktop
              padding-right: 25px
              padding-bottom: 150px

          &.col2
            padding: 50px

            +tablet
              padding-left: 15px

            +desktop
              padding-left: 25px

            .field

              ::placeholder
                color: #444
                opacity: 1

    .picture-item // this could/should be moved to the shortcode declaration
      padding: 0.75rem
      width: 100%
      margin-left: 0

      @media screen and (min-width: 768px)
        width: 50%
        margin: 0

      +desktop
        width: 25%

      // &.shuffle-item--visible:nth-child(n+9)
      //   display: none

      img
        display: block
        width: 100%

      .picture-item__inner
        box-shadow: 0 1px 8px rgba(0,0,0,.1)

        &:hover
          box-shadow: 0 5px 25px rgba(0,0,0,.1)
          transform: translateY(-1px)

        .aspect__inner:hover
          cursor: pointer

        .picture-item__details
          //align-items: baseline
          display: flex
          justify-content: space-between
          padding: 1em
          width: 100%
          flex-direction: row
          align-items: flex-start

          .description-wrapper
            min-width: 0
            flex-grow: 1
            align-self: flex-start

            .picture-item__title
              text-align: left

              a
                color: $gris-oscuro
                font-style: normal


            .picture-item__tags
              flex-shrink: 1
              margin: 0
              text-align: left
              color: $gris-claro

          .ask
            font-size: 23px
            margin-top: 8px
            color: $fuschia

  .basicLightbox__placeholder>iframe:first-child:last-child, .basicLightbox__placeholder>img:first-child:last-child, .basicLightbox__placeholder>video:first-child:last-child, .lightbox-image
    display: block
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto
    max-width: 95%
    max-height: 95%

  .basicLightbox__placeholder>img:first-child:last-child, .basicLightbox__placeholder>video:first-child:last-child, .lightbox-image
      width: auto
      height: auto

  .basicLightbox__placeholder
      width: 100%
      height: 100%
      /*pointer-events: none;*/

  .wrapper-catalogo
    will-change: min-height

  .inner-wrapper-sticky
      transform: translate(0, 0) // For browsers don't support translate3d.
      transform: translate3d(0, 0, 0)
      will-change: position, transform

  .filters-group-wrap.is-affixed
    z-index: 999

  #filters.is-affixed .inner-wrapper-sticky
    margin-left: 12px
    width: 100%!important
    background: #fff
    height: 75px

  // &.home .grid-filter.shuffle // this will need media queries or js to calculate
  //     max-height: 845px