//@import "../node_modules/bulma/sass/utilities/initial-variables" // this import fails

header
  //background: #282828

  .navbar
    background: #282828
    height: 60px

    .container
      align-items: center
      max-width: calc(100% - 35px)

      +desktop
        max-width: calc(100% - 130px)

      +fullhd
        max-width: 1300px

      .navbar-brand
        align-items: center
        height: 60px

        .logo
          max-width: 178px
          margin-top: 3px

      // .navbar-start
      //     padding-left: 10px

      .navbar-menu
        height: 100%

        .navbar-item
            text-transform: uppercase
            color: #fff
            font-size: 12px
            font-weight: bold
            margin: 0px 5px
            height: 100%

            &:hover
              background: #303030
              //border-bottom: solid 2px #4772d9

            // &:before
            //     content: ""
            //     position: absolute
            //     transition: transform .2s ease,-webkit-transform .2s ease
            //
            //     width: 0
            //     height: 0
            //     border-top: 5px solid #4772d9
            //     border-left: 5px solid #0000
            //     border-right: 5px solid #0000
            //     bottom: -4px
            //     left: 50%
            //     transform: translateX(-50%) scale(0)
            //     transform-origin: 50% 0
            //     z-index: 1
            //
            // &:hover:before
            //     transform: translateX(-50%) scale(1)

            &:after
              content: ""
              width: 100%
              height: 2px
              background-color: #4772d9
              position: absolute
              bottom: 0
              left: 0
              transition: transform .2s ease
              transform: scaleX(0)

            &:hover:after
                transform: scaleX(1)

            &.has-border
              border: solid 1px #fff
              border-radius: 3px
              height: 30px
              padding: 8px 10px
              transition: all .2s ease-in-out

              &:hover
                background: #fff
                color: #282828
                //transition: background-color .2s ease

              &:hover:after
                display: none

            // icons
            .catalogo
              width: 16px
              height: auto
              margin-right: 5px

        .navbar-end
            align-items: center
