@import "../../node_modules/bulma/sass/utilities/_all"
@import "./utils/mixins"
@import "./utils/variables"
@import "./partials/typography"

@import './banners/_all'

.home

  .site-main
    padding-top: 30px

    +desktop
      padding-top: 60px

    section

      &:first-child
        +desktop
          padding-top: 0

      &.tile .container
        +desktop
          max-width: 1376px!important

      .section-title
        font-family: $opensans
        font-size: 20px
        line-height: 26px
        letter-spacing: 0
        margin-top: 0
        margin-bottom: 20px
        color: #404040

    .box-link
      display: flex
      width: 100%

      &:not(:last-child)
        margin-bottom: 1.5rem !important

    .box
      color: white
      overflow: hidden
      padding: unset

      .box-wrapper
        padding: 1.25rem
        //padding: 21px
        position: relative
        width: calc( 100% - 1px)
        height: 100%

        &.first-banner-box
          background: white
          display: flex
          flex-direction: column
          justify-content: space-between
          height: 100%

          small
            font-size: 11px
            text-transform: uppercase
            font-weight: 600

            &.gradient
              position: relative
              +text-gradient(right, #EF5D60, #5C319D)

            &:last-child
              color: #303030

          h2
            color: #303030
            font-size: 20px
            font-weight: 600
            line-height: 38px
            margin-top: 50px
            margin-bottom: 50px

            +tablet-only
              font-size: 15px
              line-height: 22px

            +widescreen
              font-size: 32px

          // &:hover
          //
          //   .box-wrapper:before
          //     opacity: 0!important
          //
          //     h2
          //       color: #303030

        &.bigger-box
          min-height: 300px

        &.gradient-bg:before
          content: ""
          position: absolute
          z-index: 0
          border-radius: 5px
          top: 1px
          right: 1px
          bottom: 1px
          left: 1px
          background-color: #fff
          transition: opacity .25s ease-in-out
          opacity: 0
          width: calc(100% - 1px)

        .featured_image
          //transition: opacity .25s ease-in-out
          opacity: 1

          @media (min-width: 525px) and (max-width: 767px)
            position: absolute!important
            top: 0px!important
            right: 50px!important

        .tile-box-content
          position: absolute
          bottom: 30px
          //max-width: 210px
          display: flex
          flex-direction: column
          justify-content: space-around

          .title
            color: white

            +tablet-only
              font-size: 1rem

          .bajada
            font-size: 12px
            text-transform: uppercase
            margin-bottom: 5px

          .desc
            font-size: 12px
            margin-bottom: 5px

          .cta
            font-size: 12px
            text-transform: uppercase
            font-weight: $semibold

        &.small-box
          height: 168px

          .tile-box-content
            bottom: 10px
            width: calc(100% - 42px) // padding x2

            .top-row
              display: flex
              flex-direction: row
              //flex-wrap: wrap

              +tablet-only
                flex-direction: column

              +desktop-only
                flex-direction: column

              p
                flex-grow: 1
                //width: 33%

                &.title
                  font-size: 1.2rem
                  margin-bottom: unset

                  +tablet
                    font-size: 18px

                  +desktop
                    font-size: 16px

                  +widescreen-only
                    font-size: 18px

                  @media (min-width: 1350px)
                    font-size: 1.2rem

                  &::first-line
                    font-size: 18px

                  span
                    font-size: 15px

                    @media (min-width: 1400px)
                      font-size: 1.2rem


                .bajada-title
                  color: #FC0067

                .mini-desc
                  font-size: 14px
                  text-transform: initial
                  color: #fff
                  opacity: 0.6

                &.small-card-arrow
                  color: #fff
                  position: absolute
                  right: 0

            .cta-wrap
              width: 100%
              color: #fff
              opacity: 0.6

              .large-card-arrow
                display: none

          &.small-box-1

            .title
              width: 160px

              @media (min-width: 1400px)
                width: initial

          &.small-box-2

            .title
              width: 50%

              +tablet-only
                width: 100%

            .featured_image
              width: 80px

          &.small-box-3

            .title
              width: 140px

            .featured_image
              width: 160px

          &.small-box-4

            .title
              width: 80px

            .featured_image
              width: 100%

      &:hover
        color: #2694d5

        .title
          color: #2694d5!important

        .featured_image
          opacity: 0

        .box-wrapper:before
          opacity: 1

        .small-box

          .mini-desc
            color: #2694d5!important

          .cta
            color: #2694d5

          .small-card-arrow
            color: #2694d5!important

    hr
      margin-top: 25px
      margin-bottom: 25px

      +desktop
        margin-top: 50px
        margin-bottom: 0

    .banner-social
      height: 245px
      background: $gris-fondo
      display: flex
      flex-direction: column
      justify-content: center
      height: 100%
      border-top: 1px solid #888
      border-bottom: 1px solid #888
      padding-top: 2.5rem
      padding-bottom: 50px

      +desktop
        height: initial

      .container
        // height: 100%
        // margin-bottom: 0
        flex: 1
        height: 100%

        .column
          flex-direction: column
          justify-content: center
          display: flex

          &.first-col
            +desktop
              padding-left: 50px

          &.second-col
            +desktop
              padding-right: 50px

          p
            font-size: 50px
            font-weight: 600
            font-family: $montserrat

          small
            font-size: 11px
            text-transform: uppercase
            letter-spacing: 2px

            .icon-wa
              margin-right: 7px
              margin-bottom: -7px
              width: 26px

          .bigger
            font-size: 30px

            +desktop
              font-size: 60px


        .column:nth-child(2n)
          align-items: center
          padding-right: 0!important

          +desktop
          padding-right: unset
          align-items: flex-end

          a
            font-weight: 600
            text-transform: uppercase
            background: linear-gradient(to right bottom,#0dcfb7,#2891d5)
            padding: 10px 20px
            font-size: 0.9rem

          a.icon-link
            background: $gris-muy-oscuro
            font-size: 40px
            border-radius: 40px
            color: #fff
            margin: 0 10px
            padding: 0

            .fa-facebook
              padding: 16px 23px

            .fa-instagram
              padding: 16px 18px

    .help-tile
      background: #eaeaea
      padding-top: 50px
      color: #484848

      .tile.notification
        transition: background-color 0.5s ease
        cursor: pointer

        &:hover
          background-color: #fff

      a:link, a:visited
        color: #4a4a4a

      .title
        font-size: 1.75rem
        font-family: $montserrat

      .tile.is-child
        display: flex
        flex-direction: column
        justify-content: center
        padding-top: 70px
        padding-bottom: 70px
        border-radius: 20px

    .necesitas
      background: #ffffff
      padding: 25px 0

      +tablet
        padding: 50px

      .column
        text-align: center

        h2
          font-size: 50px
          font-family: $montserrat
          margin-bottom: 40px
          line-height: 60px

        p
          font-size: 18px

        button
          //margin-right: 1px!important

          @media screen and (min-width: 768px)
            margin-right: initial

        // a
        //   width: 100%
        //   text-align: center
        //   display: block
        //   padding: 7px
        //   height: 37px

    .home-bottom-boxes
      font-weight: 600
      margin-bottom: -120px
      padding-top: 0
      //margin-top: 0px
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: stretch
      min-height: 320px
      background: $footer-bg-color
      max-width: 100%
      margin-left: 0
      margin-right: 0

      +tablet
        flex-direction: row
        min-height: initial
        background: initial
        padding-left: 50px
        padding-right: 50px

      .column
        z-index: 99
        flex-grow: unset
        
        +tablet
          flex-grow: 1
          margin-top: -100px

        div
          padding-top: 35px
          height: 100%

          p
            font-size: 12px
            line-height: 20px

            &.bigger
              font-size: 23px
              letter-spacing: -1px

          small
            text-transform: uppercase
            font-size: 12px
            opacity: 0.6
            margin-top: 15px
            display: block
            letter-spacing: .16em


        &.is-half

          +tablet
            flex-grow: 0

          div
            display: flex
            justify-content: center
            flex-direction: column
            padding-top: 35px