/* The Modal (background)

.my-modal
  // display: none
  // /* Hidden by default */
  // position: fixed
  // /* Stay in place*/
  // z-index: 1
  // /* Sit on top*/
  // left: 0
  // top: 0
  // width: 100%
  // /* Full width*/
  // height: 100%
  // /* Full height*/
  // overflow: auto
  // /* Enable scroll if needed*/
  // background-color: rgb(0, 0, 0)
  // /* Fallback color*/
  // background-color: rgba(0, 0, 0, 0.4)
  // /* Black w/ opacity*/

  // /* Modal Content/Box*/

  // .modal-content
  //   background-color: #fefefe
  //   margin: 15% auto
  //   /* 15% from the top and centered*/
  //   padding: 20px
  //   border: 1px solid #888
  //   top: 20%

  //   +desktop
  //     width: 50%
  //     min-width: 600px
  //     top: unset
    
  // .close-modal
  //   color: #aaa
  //   float: right
  //   font-size: 28px
  //   font-weight: bold
  //   &:hover, &:focus
  //     color: black
  //     text-decoration: none
  //     cursor: pointer

.modal.is-active
  position: fixed!important
  z-index: 1000

  .modal-background
    background-color: #b7b7b7db

  .modal-content
    background-color: #fefefe
    width: 90%

    +desktop
      width: auto
      //min-height: 450px

    article
      display: grid
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))
      max-width: 860px
      box-shadow: none

      +desktop
        height: 450px

      .card-image
        width: 100%

        figure.image
          height: 100%

          img
            object-fit: cover
            height: 100%

      .card-content
        width: 100%

        +desktop
          padding-right: 4rem
          display: grid

        header h5
          font-weight: 600
          font-size: 2.5rem
          margin-top: 1.5rem
          line-height: 2.5rem
          color: #000
          margin-bottom: 1.5rem

        .post-volanta
          font-weight: 600
          text-transform: uppercase
          font-size: 12px
          letter-spacing: 2px

        .entry-content
          font-size: 0.9rem
          display: flex
          flex-direction: column
          justify-content: space-between
          flex: 1

          .consultanos
            cursor: pointer
            color: #080808
            font-size: 1rem
            font-weight: 600

  .modal-close
    position: fixed!important

    