main
    header
        background: linear-gradient(90deg,#523ee8eb,#6d47d9eb)
        display: flex
        flex-wrap: wrap
        flex-grow: 1
        justify-content: flex-start
        align-items: flex-start
        padding-top: 55px

        h1.title
            color: #fff
            font-family: $montserrat
            line-height: 40px
            font-weight: 700
            letter-spacing: 0
            text-transform: capitalize

        img
            max-width: 60px
            opacity: 0.6

        &.normal
            height: 145px

            div
                justify-content: space-between

                h1.title
                    margin-top: 15px
                    margin-bottom: 25px
                    flex-basis: 75%
                    margin-right: 2%

                .header-icon
                    flex-basis: 23%
                    padding-top: 10px
                    text-align: right

                    // i
                    //     color: #ffffff80
                    //     margin-bottom: 25px
                    //     font-size: 58px
                    //     max-width: 58px
                    //     max-height: 53px

        &.extendido
            text-align: center

            .container
                flex-direction: column-reverse

                img
                    margin-bottom: 15px

                h1
                    margin-bottom: 1rem

                .subtitle
                    color: #fff
                    font-family: $blink
                    font-size: 20px
                    line-height: 26px
                    font-weight: 700
                    letter-spacing: 0
                    font-weight: 400
                    opacity: 0.6
                    max-width: 50%
                    margin: 0 auto
                    margin-bottom: 60px

    .entry-content
        //padding-top: 60px
        padding-bottom: 60px!important
        padding-left: 0!important
        padding-right: 1.5rem !important
