aside

    .is-multiline
        flex-direction: column

        section
            width: 100%!important
            margin: initial

            +desktop
                margin: 0 auto

            &:first-child
                +desktop
                    padding-top: 0