.turc-to-blue
    background: linear-gradient(to right bottom,#0dcfb7,#2891d5)

.pur-to-pink
    background: linear-gradient(to right bottom,#b941a5,#f040a2)

.turc-to-pur
    background: linear-gradient(to right bottom,#45b5db,#8380d7)

.pink-to-pur
    background: linear-gradient(to right bottom,#da5568,#8380d7)