@import "../../../node_modules/bulma/sass/utilities/initial-variables"
@import "./variables"

.br6
    border-radius: 6px

.padding
    padding: $box-padding

.direction-row
    flex-direction: row!important

.flex-align-center
    align-items: center!important

.flex-end
    justify-content: flex-end!important

.max-100
    max-width: 100%

.columns.max-100
    margin: 0