// $dir = Direction of gradient
// $from = Starting color
// $to = Ending color
// $width = Border width/thickness

=border-gradient($dir, $from, $to, $width)
  border-left: $width solid $from
  border-right: $width solid $to
  // Needed for both the top and bottom borders
  background-image: -webkit-linear-gradient($dir, $from, $to) -webkit-linear-gradient($dir, $from, $to)
  background-size: 100% $width
  background-position: 0 100%, 0 0
  background-repeat: no-repeat
  background-clip: border-box

=background-gradient($to, $dir, $from)
  background-image: -webkit-linear-gradient($to, $dir, $from)


=text-gradient($to, $dir, $from)
  background: -webkit-linear-gradient($to, $dir, $from)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
