.banner-bordadas
  height: 245px
  background: #fff
  color: #282828
  display: flex
  flex-direction: column
  justify-content: center

  .container
    height: 100%
    margin-bottom: 0

    .column
      flex-direction: column
      justify-content: center
      display: flex

      p
        font-size: 50px
        font-weight: 600

      small
        font-size: 11px
        font-weight: 600
        text-transform: uppercase

        a
          &:link, &:hover
            color: #282828

    .column:nth-child(2n)
      background: url('https://era.dgyd.com.ar/wp-content/uploads/2018/06/banneer_bg.png')
      background-repeat: no-repeat
      background-position-y: -30px
      align-items: flex-end;

      a
        font-weight: 600
        text-transform: uppercase
        background: linear-gradient(to right bottom,#0dcfb7,#2891d5)
        padding: 10px 20px
        font-size: 0.9rem

