@import "./typography"
@import "../utils/variables.sass"

a.button
    text-transform: uppercase
    font-family: $montserrat
    font-size: 14px
    font-weight: 700


button.is-primary
    height: 2.3rem

button.is-primary-era
    color: $turquesa!important
    border-radius: 6px!important
    text-transform: capitalize
    background: linear-gradient(to right bottom,#0dcfb7,#2891d5)
    border: 0px solid #0000!important
    //box-shadow: 0 1px 8px rgba(0,0,0,.1)
    padding: 10px 50px 15px
    margin-right: 15px
    height: 39px
    letter-spacing: 1px

    span
        z-index: 1
        font-family: $montserrat
        font-size: 13px
        font-weight: 700
        color: $gris-oscuro
        text-transform: uppercase

    &:before
        content: ""
        position: absolute
        z-index: 0
        border-radius: 5px
        top: 1px
        right: 1px
        bottom: 1px
        left: 1px
        background-color: #fff
        transition: opacity .25s ease-in-out
        opacity: 1
        max-width: calc(100% - 2px)

    &:hover, &.active
        color: #fff!important

        &:before
            opacity: 0

        span
            color: #fff

    &:focus:not(:active), &:focus:not(:active)
        box-shadow: none!important
        color: #fff


