@import "../utils/variables"

.tippy-popper
    background: transparent
    min-width: 330px
    top: 30px!important

    .tippy-tooltip
        padding: 15px
        padding-bottom: 0
        border: solid 1px #ddd
        //border-bottom-right-radius: 0
        //border-bottom-left-radius: 0

        .tippy-backdrop
            background: #fff

        .tippy-content
            color: $gris-oscuro
            text-align: left

            h6
                font-weight: bold

            p
                margin-bottom: 10px

            .buttons-wrapper
                width: calc( 100% + 30px)
                margin-left: -15px
                border-top: solid 1px #ddd

                a
                    flex: 1

                    button
                        border-radius: 0
                        border: none
                        width: 100%
                        text-align: center
                        justify-content: center

                        &.colored
                            color: #fff
                            background: $fuschia
