.post.type-post

  +desktop
    display: flex

    .card-image
      width: 50%

      .image
        position: unset 

        img
          height: 100%
          object-fit: cover

    .card-content
      width: 50%

      header.media-content
        padding-top: 0