@import "../utils/variables"

.contact
    background: #fff

    +desktop
        padding-bottom: 12rem!important

    .col1
        background: url('https://i1.wp.com/eragroup.com.ar/wp-content/uploads/2019/07/textura_eragroup_1.png')
        background-size: contain
        display: flex
        flex-direction: column
        justify-content: space-between

        .big-text
            font-size: 35px
            line-height: 40px
            font-family: $montserrat
            margin-bottom: 50px

            @media screen and (min-width: 768px)
                font-size: 65px
                line-height: 70px
                margin-bottom: 25px

    .contact-toggle
        background: $verde
        height: 100px
        color: #fff

        p
            font-family: $montserrat
            font-size: 13px
            font-weight: bold
            letter-spacing: 1px
            text-align: center

            +desktop
                text-align: inherit

    .show
        transition: height, 0.3s linear
        -webkit-transition: height, 0.3s linear

        +desktop
            height: 700px

        div
            opacity: 1
            visibility: visible
            transition: visibility 0.3s, opacity 0.6s linear

    .hidden
        height: 0px
        transition: height, 0.3s linear
        -webkit-transition: height, 0.3s linear

        div
            visibility: hidden
            opacity: 0
            transition: visibility 0.3s, opacity 0.4s linear

    #contact-wrap

        .wpcf7-form
            h4
                font-family: $montserrat
                font-size: 12px
                font-weight: bold
                text-transform: uppercase
                color: $verde
                margin-bottom: 0.75rem

            .input
                border: solid 2px $gris-muy-claro
                border-radius: 8px
                font-family: $opensans
                font-size: 14px
                height: 35px

                +placeholder
                    color: $gris-claro!important
                    opacity: 1

            .wpcf7-form-control-wrap.textarea
                padding: 0

                &:hover
                    border-color: #0000

            .wpcf7-textarea
                margin-bottom: 5px
                border: solid 2px $gris-muy-claro
                border-radius: 8px
                font-family: $opensans
                font-size: 14px
                height: 105px
                margin-bottom: 5px
                width: 100%
                padding: calc(0.375em - 1px) calc(0.625em - 1px)

                +placeholder
                    color: $gris-claro!important
                    opacity: 1

            .wpcf7-checkbox
                .wpcf7-list-item
                    width: calc(100% - 14px)

                    label
                        display: flex
                        justify-content: space-between
                        margin-bottom: 10px

                        .wpcf7-list-item-label
                            font-family: $opensans
                            font-size: 14px
                            color: $gris-claro

            .switchery 
                height: 20px
                width: 30px

                small
                    height: 20px
                    width: 20px

            .wpcf7-file
                display: none

            .wpcf7-submit
                color: white
                background-color: $verde
                border: none
                width: 100%
                text-transform: uppercase
                font-size: 12px
                border-radius: 5px
                height: 35px
                font-family: $montserrat
                font-weight: bold
                margin-top: 15px
            
            #filename.button
                background-color: #00c7be
                font-size: 14px
                font-family: "Open Sans", sans-serif
