.social-share-btns-container
  //overflow: hidden
  //position: absolute
  left: 0
  font-size: 0
  //top: 50%
  //margin: -30px 0
  text-align: center
  width: 100%
  padding: 20px
  z-index: 111

.social-share-btns
  display: flex
  flex-direction: column
  justify-content: center

  +desktop
    flex-direction: row

  .share-btn
    margin: 8px 5px
    padding: 8px 16px
    border-radius: 3px
    color: #fff
    font-size: 14px
    line-height: 18px
    vertical-align: middle
    -moz-transition: background 0.2s ease-in-out
    -o-transition: background 0.2s ease-in-out
    -webkit-transition: background 0.2s ease-in-out
    transition: background 0.2s ease-in-out
    img
      margin-right: 5px
      display: inline-block
      vertical-align: middle
      margin-bottom: 2px

/*.share-btn {
 *  background-color: #95a5a6;
 *}
 *.share-btn:hover {
 *  background-color: #798d8f;
 *}

.share-btn-twitter
  background-color: #00aced

.share-btn-facebook
  background-color: #3b5998

.share-btn-linkedin
  background-color: #007bb6

.share-btn-reddit
  background-color: #25D366

.share-btn-mail
  background-color: #f1c40f

.share-btn-reddit:hover, .share-btn-mail:hover, .share-btn-linkedin:hover, .share-btn-twitter:hover, .share-btn-facebook:hover
  opacity: 0.8